<div ng-cloak ng-controller="PhotoListCtrl">
<section class="jumbotron">
  <h1>Beer, Beer, Beer!</h1>
  <p>My photo collection of beer bottles. Which currently contains <span id="bottle-count">{{photos.length}}</span> photos.</p>
</section>

<section class="beer-items">

  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 beer-item" 
      ng-repeat="photo in photos | arrayLikeLimitTo:offset:pageSize">
      <a href="#/photos/{{photo.getId()}}"
        ng-mouseover="prefetchDetailPage(photo)">
        <figure class="thumbnail">
          <img alt="{{photo.getTitle()}}" ng-src="{{photo.getSmallUrl()}}" width="{{photo.getSmallWidth()}}" height="{{photo.getSmallHeight()}}">
          <figcaption style="display: none;">{{photo.getTitle()}}</figcaption>
        </figure>
      </a>
    </div>
  </div>

  <!-- Loading indicator for when nothing in local storage -->
  <div class="row" ng-show="photos.length === 0 && loading">
    <div class="col-md-offset-4 col-md-4">
      <div class="progress progress-striped active">
        <div class="progress-bar"  role="progressbar" style="width: 100%">
          <span class="sr-only">Loading</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-show="photos.length === 0 && !loading">
    <div class="col-md-offset-4 col-md-4">
        <div class="alert alert-warning">
            No photos found ... :(
        </div>
    </div>
  </div>

  <ul class="pager">
    <li class="previous {{offset == 0 ? 'disabled' : ''}}">
      <a href="#/photos/{{sortBy}}/{{max(0, offset - pageSize)}}">&larr; Older</a>
    </li>
    <li class="next {{offset + pageSize > photos.length ? 'disabled' : ''}}">
      <a href="#/photos/{{sortBy}}/{{offset + pageSize}}">Newer &rarr;</a>
    </li>
  </ul>
</section>
</div>
