body {
  padding-top: 60px;
  padding-bottom: 40px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.beer-items {
}

.beer-item {
  margin-bottom: 15px;
}

.beer-item figure {
  position: relative;
}

.beer-item figure img {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#init-page-loader {
  padding: 80px 0;
}

@media (max-width: 1200px) {
  .beer-item figure {
    width: 150px;
    height: 250px;
  }
}

@media (min-width: 1200px) {
  .beer-item figure {
    width: 180px;
    height: 250px;
  }
}
