<!DOCTYPE html>
<html lang="en" ng-app="beers">
  <head>
    <meta charset="utf-8">
    <title>Beer Photos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Collection of Beer Bottle Photos">
    <meta name="author" content="Sam Cavengh">

    <link href="lib/bootstrap.min.css" rel="stylesheet"/>
    <link href="lib/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="beer.css" rel="stylesheet"/>

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="apple-touch-icon" href="/img/touch-icon-iphone.png" /> 
    <link rel="apple-touch-icon" sizes="76x76" href="/img/touch-icon-ipad.png" /> 
    <link rel="apple-touch-icon" sizes="120x120" href="/img/touch-icon-iphone-retina.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/img/touch-icon-ipad-retina.png" />

    <!-- Fav and touch icons -->
    <!-- TODO
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">
    -->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavCtrl">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Sam's Beer Photos</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#" data-toggle="modal"
              data-target="#about-modal" onclick="return false">About</a></li>
            <li><a href="#" ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">

            <form class="navbar-form" ng-controller="SearchFormCtrl" ng-submit="doSearch();">
              <div class="form-group">
                <input type="search" placeholder="Search" ng-model="searchTerm" class="form-control">
              </div>
            </form>

            <li class="dropdown" style="display: none">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Date Added<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Date Added</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Alphabetic</a></li>
                <li class="divider"></li>
                <li><a href="#">Reverse Order</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div class="container">
      <div class="body-content" ng-view>
      </div>

      <hr>

       <footer>
         <p>&copy; <a href="mailto:cavenaghweb@hotmail.com">Sam Cavenagh</a> 2013</p>
       </footer>
    </div>

    </div> <!-- /container -->

    <div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">About</h4>
          </div>
          <div class="modal-body">
            <h4>The Premise</h4>
            <p>Create a photographic collection of beer bottles (ideally that I have drunk).
            While I try to ensure the label is readable, image quality is not a priority.
            Most photos are taken with my phone and often in poor lighting conditions.
            The same beer is allowed to feature multiple times in the collection if there is some kind
            of variation in the bottle.</p>
            <h4>Contact</h4>
            <p>Feel free to <a href="mailto:cavenaghweb@hotmail.com">email me</a></p>
          </div>
          <div class="modal-footer">
            <a href="http://o-sam-o.github.com" class="btn btn-primary">Other Sites</a>
            <a href="http://www.flickr.com/photos/cavenagh" class="btn btn-default">More Photos</a>
            <a href="https://github.com/o-sam-o/Beer.angular" class="btn btn-default">Source</a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script data-main="src/main" src="lib/require.js"></script>

  </body>
</html>
